<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../polymer/lib/elements/dom-if.html">

<link rel="import" href="../iron-icons/iron-icons.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../paper-card/paper-card.html">

<dom-module id="sangha-material-project-card">
  <template>
    <style>
      :host {
        display: block;
      }

      paper-card {
        min-width: 20em;
        width: 100%;
        cursor: pointer;
      }

      .project-header {
         @apply --paper-font-headline;
       }

       iron-icon {
         color: hsl(0, 0%, 50%);
         margin-right: 0.5rem;
       }

      .project-icons {
        @apply --paper-font-caption;

        float: right;
        display: flex;
        align-items: center;
      }
      .project-icons span {
        margin-right: 0.5rem;
      }

      a, a:visited, paper-button {
        color: var(--primary-color);
        text-decoration: none;
      }
      a:hover, paper-button:hover {
        filter: brightness(75%);
      }
    </style>
    <paper-card
      on-click="showProjectPage"
      image='[[ _appendUrlParam(project.logo, "width=600&height=350") ]]'
      preload-image fade-image
      placeholder-image='data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 600 350"><rect width="600" height="350" x="0" y="0" fill="#e6e6e6"/></svg>'>
      <div class="card-content">
        <div class="project-header">
          [[ project.name ]]

          <div class="project-icons">
            <span title="license">
              [[ project.license ]]
            </span>

            <a href="[[ project.repository ]]">
              <iron-icon icon="icons:code" title="source code"></iron-icon>
            </a>

            <a href="[[ project.website ]]">
              <iron-icon icon="icons:home" title="website"></iron-icon>
            </a>
          </div>
        </div>

        <div class="project-description">
          [[ project.summary ]]
        </div>

      </div>
      <div class="card-actions">
        <div class="horizontal justified">
          <template is="dom-if" if="[[ cartAvailable ]]">
            <paper-button on-click="addToCart">donate</paper-button>
          </template>
          <template is="dom-if" if="[[ !cartAvailable ]]">
            <a id="moreLink" href="[[ baseUrl ]]/[[ project.slug ]]/#donate">
              <paper-button>donate</paper-button>
            </a>
          </template>
          <a id="moreLink" href="[[ baseUrl ]]/[[ project.slug ]]/">
            <paper-button>more</paper-button>
          </a>
        </div>
      </div>

    </paper-card>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class SanghaMaterialProjectCard extends Polymer.Element {
      static get is() { return 'sangha-material-project-card'; }

      static get properties() {
        return {
          project: {
            type: Object,
          },
          baseUrl: {
            type: String,
          },
          cartAvailable: {
            type: Boolean,
            value: false,
            reflectToAttribute: true,
          },
        };
      }

      addToCart(event) {
        event.preventDefault();
        this.dispatchEvent(new CustomEvent('sangha-cart-add-project', {
          detail: {
            project: this.project,
          },
          bubbles: true,
          composed: true,
        }));
      }


      showProjectPage(event) {
        // bail if already handled
        if (event.defaultPrevented) { return; }
        // bail if an anchor was clicked
        if (event.composedPath()[1].tagName && event.composedPath()[1].tagName.toLowerCase() == "a") {
          return;
        }

        this.$.moreLink.click();
      }

      _appendUrlParam(url, paramString) {
        var url = url || '';

        if (paramString) {
          var bindingChar = url.indexOf('?') >= 0 ? '&' : '?';
          return url + bindingChar + paramString;
        }

        return url;
      }
    }

    customElements.define(SanghaMaterialProjectCard.is, SanghaMaterialProjectCard);
  </script>
</dom-module>
